{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
{% endblock %}

{% block app_content %}
    <h1>{{ _("Upload Images")}}</h1>
    <div class = "row">
        <div class = "col-md-4">
            <form action="{{ url_for('main.upload') }}" class="dropzone">
                {{ form.hidden_tag() }}
            </form>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
        </div>
    </div>
{% endblock %}
